// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$grey-gradation: grey, lightgrey, white, lightgrey;
$gold-card-gradient: (to right, rgb(255, 229, 85), rgb(255, 236, 129), rgb(255, 230, 90), rgb(255, 224, 50));
$gold: #f5ee57;
$dark: #1f1e23;
$cream: #f9f6cd;
