.black-background {
  background-color: black;
}

.faded-banner {
  opacity: 70%;
}

.home-text {
  position: fixed;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.home-text h1, h3 {
  color: white;
  font-size: 4rem;
  text-shadow: 2px 2px 5px invert($color: white);
}

.center-image {
  max-width: 100%;
  max-height: 100%;
}
