<div class="col-sm-12 col-md-6 col-lg-4 mb-4">
  <%= link_to blueprint_path(blueprint) do %>
    <div class="card text-dark">
      <!-- White Tab for Text -->
        <div class="card-header">
          <div class="card-title-container">
          <h4 class="card-title mt-0 "><p class="text-dark"><%= blueprint.name %></p></h4>
        </div>
      </div>
      <!-- Picture -->
      <div class="card-image" style="background-image:url('https://i.ytimg.com/vi/<%= blueprint.sample_videos.first %>/hqdefault.jpg');"></div>
    </div>
  <% end %>
</div>
