<div class="background-script py-3">
    <div class="blueprints-index">
        <div class="container storylab-container-cream col-9">
          <div class="row">
            <h1>Take a look at our video blueprints</h1>
            <p>These are tried and true formulas of videos to make your own.</p>
          </div>
          <div class="row">
            <% @blueprints.each do |blueprint| %>
              <%= render blueprint %>
            <% end %>
          </div>
        </div>
    </div>
</div>
