<div class="container">
  <div class="blueprints-index">
    <section class="wrapper">
      <div class="container">
        <div class="row">
          <% @blueprints.each do |blueprint| %>
            <%= render blueprint %>
          <% end %>
        </div>
      </div>
    </section>
  </div>
</div>
