<div class="container">
  <br>
  <br>
  <h2>Choose a blueprint below to get started</h2>
    <div class="blueprints-index">
      <section class="wrapper">
        <div class="container">
          <div class="row">
            <% @blueprints.each do |blueprint| %>
              <%= render blueprint %>
            <% end %>
          </div>
        </div>
      </section>
    </div>
</div>
