<div class="container scripts-index">
    <div class="row">
      <div class="col">
        <div class="cp_card02">
          <% @scripts.each do |script| %>
            <%= render "script", script: script %>
          <% end %>
        </div>
      </div>
    </div>
</div>
