<div id="carouselExampleCrossfade" class="carousel slide carousel-fade" data-bs-interval="2000" data-bs-ride="carousel">
  <div class="carousel-inner">
  <div class="home-text">
    <h1>StoryLab</h1>
    <h3>From keywords to captivating scripts</h3>
    <%= link_to "See our video blueprints", blueprints_path, class: "btn btn-home" %>
  </div>
    <div class="carousel-item active black-background">
      <img src="https://images.unsplash.com/photo-1563053581-1a7a69f8f656?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="d-block w-100 faded-banner" alt="...">
    </div>
    <div class="carousel-item black-background">
      <img src="https://images.unsplash.com/photo-1613294326794-e7c74fe886e2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="d-block w-100 faded-banner" alt="...">
    </div>
    <div class="carousel-item black-background">
      <img src="https://images.unsplash.com/photo-1526915303387-35900bc4ff33?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="d-block w-100 faded-banner" alt="...">
    </div>
    <div class="carousel-item black-background">
      <img src="https://images.unsplash.com/photo-1605089103010-bcba7ca9b10d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=580&q=80" class="d-block w-100 faded-banner" alt="...">
    </div>
    <div class="carousel-item black-background">
      <img src="https://images.unsplash.com/photo-1630797160666-38e8c5ba44c1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="d-block w-100 faded-banner" alt="...">
    </div>
    <div class="carousel-item black-background">
      <img src="https://images.unsplash.com/photo-1621763540919-1a0477861102?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="d-block w-100 faded-banner" alt="...">
    </div>
    <div class="carousel-item black-background">
      <img src="https://images.unsplash.com/photo-1629204814140-42a737865119?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="d-block w-100 faded-banner" alt="...">
    </div>
  </div>
</div>
