<div data-controller="background-switch">
  <div data-background-switch-target="main-page" data-action="onload->background-switch#toggle">
  <div class="home-text">
        <%= image_tag("storylabfull2.png", width: "100%", class: "center-image") %>
    <br>
    <br>
    <%= link_to "See our video blueprints", blueprints_path, class: "btn btn-home", id: 'submit-button' %>
  </div>
    <div class="background-image-container">
      <div class="row">
        <div data-background-switch-target="block1" class="black-background col-3 background-matrix">
          <img src="https://images.unsplash.com/photo-1563053581-1a7a69f8f656?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="d-block w-100 faded-banner" alt="...">
        </div>
        <div data-background-switch-target="block2" class="black-background col-3 background-matrix">
          <img src="https://images.unsplash.com/photo-1613294326794-e7c74fe886e2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="d-block w-100 faded-banner" alt="...">
        </div>
        <div data-background-switch-target="block3" class="black-background col-3 background-matrix">
          <img src="https://images.unsplash.com/photo-1526915303387-35900bc4ff33?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="d-block w-100 faded-banner" alt="...">
        </div>
        <div data-background-switch-target="block4" class="black-background col-3 background-matrix">
          <img src="https://images.unsplash.com/photo-1629204814140-42a737865119?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="d-block w-100 faded-banner" alt="...">
        </div>
      </div>
      <div class="row">
        <div data-background-switch-target="block5" class="black-background col-3 background-matrix">
          <img src="https://images.unsplash.com/photo-1630797160666-38e8c5ba44c1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="d-block w-100 faded-banner" alt="...">
        </div>
        <div data-background-switch-target="block6" class="black-background col-3 background-matrix">
          <img src="https://images.unsplash.com/photo-1489395131208-596c1ecb2a39?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" class="d-block w-100 faded-banner" alt="...">
        </div>
        <div data-background-switch-target="block7" class="black-background col-3 background-matrix">
          <img src="https://images.unsplash.com/photo-1621763540919-1a0477861102?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="d-block w-100 faded-banner" alt="...">
        </div>
        <div data-background-switch-target="block8" class="black-background col-3 background-matrix">
          <img src="https://images.unsplash.com/photo-1611467377461-acbc2c9d3a06?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="d-block w-100 faded-banner" alt="...">
        </div>
      </div>
      <div class="row">
        <div data-background-switch-target="block9" class="black-background col-3 background-matrix">
          <img src="https://images.unsplash.com/photo-1577864662891-c7b77f10f638?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="d-block w-100 faded-banner" alt="...">
        </div>
        <div data-background-switch-target="block10" class="black-background col-3 background-matrix">
          <img src="https://images.unsplash.com/photo-1594394489098-74ac04c0fc2e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="d-block w-100 faded-banner" alt="...">
        </div>
        <div data-background-switch-target="block11" class="black-background col-3 background-matrix">
          <img src="https://images.unsplash.com/photo-1632820324313-ee2704746bfd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80" class="d-block w-100 faded-banner" alt="...">
        </div>
        <div data-background-switch-target="block12" class="black-background col-3 background-matrix">
          <img src="https://images.unsplash.com/photo-1632923892506-8bcd4aa1a92b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1169&q=80" class="d-block w-100 faded-banner" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>
