.title-text {
  color: black;
  text-shadow: 1px 1px 2px gold;
  font-size: 3rem;
  font-family: $main-font;
}

.description-text {
  text-shadow: 1px 1px 3px lightgrey;
  font-family: $main-font;
}

h5 {
  font-family: $main-font;
}

.word-cloud-box {
  // border: 1px solid grey;
  // border-radius: 5px;
  // box-shadow: 1px 1px 30px rgb(227, 227, 227);
}
