.btn-home {
  width: 500px;
  height: 60px;
  font-size: 2rem;
  text-shadow: 1px 1px 1px darkblue;
  color: black;
  background-image: linear-gradient(to right, $grey-gradation);
  border: 2px;
  border: white;
  border-radius: 4px;
  opacity: 80%;
}

.btn-home:hover {
  opacity: 100%;
  box-shadow: 2px 2px 10px darkgrey;
}
