.btn-home {
  width: 60%;
  height: 70px;
  font-size: 3rem;
  color: black;
  background-color: white;
  border: 2px;
  border: white;
  border-radius: 4px;
  opacity: 80%;
}

.btn-home:hover {
  opacity: 100%;
  background-color: gold;
}
