.blueprints-index {

  body {
    /* Created with https://www.css-gradient.com */
    background: #161616;
  }

  h1 {
    color: #fff;
  }

  p {
    // font-family: 'Titillium Web', sans-serif;
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: none;
  }

  .lead {
    color: #aaa;
  }

  //post card styles

  .card {
    border: none;
    // transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
    padding: 16px;
    overflow: hidden;
    border-radius: 20px;
    // min-height: 320px;
    // min-width: 250px;
    box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    // margin: 16px;

    &:hover {
      transform: scale(1.05); // 1.05 means the card will grow to 105% of its original size
    }

    @media (max-width: 768px) {
      min-height: 350px;
      margin: 20px;
    }

    @media (max-width: 420px) {
      min-height: 300px;
      margin: 20px;
    }

    .card-header {
      border: none;
      background-color: white;
      color: $dark;
      padding: 10px;
      height: 100px; // Set a fixed height for the header
      display: flex;
      align-items: center; // Vertically center the content
      justify-content: center;
    }

    .card-title-container {
      text-align: center;
      width: 100%; // Take the full width of the parent
    }

    .card-image {
      background-size: cover;
      background-position: center;
      min-height: 200px;
      padding: 20px;
      border-radius: 10px;
    }

    &.card-has-bg {
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
      background-size: 120%;
      background-repeat: no-repeat;
      background-position: center center;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: inherit;
        -webkit-filter: grayscale(1);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
        filter: grayscale(100%);
      }

      &:hover {
        transform: scale(0.98);
        box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
        background-size: 130%;
        transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
      }
    }

    .card-footer {
      background: none;
      border-top: none;

      .media {
        img {
          // border: solid 3px rgba(255, 255, 255, 0.3);
        }
      }
    }

    .card-title {
      // font-weight: 800;
      // font-size: 18px;
    }

    .card-meta {
      color: rgba(0, 0, 0, 0.3);
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 2px;
    }

    .card-body {
      transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
      padding: 20px;

    }

    &:hover {
      .card-body {
        margin-top: 30px;
        transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
      }

      cursor: pointer;
      transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    }

    // .card-img-overlay {
    //   transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
    //   background: rgb(255, 186, 33);
    //   background: linear-gradient(0deg, rgba(255, 186, 33, 0.3785889355742297) 0%, rgba(255, 186, 33, 1) 100%);
    // }
  }

  @media (max-width: 767px) {}

}

.text-cover p {
  background: -webkit-linear-gradient(90deg, #eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
