.storylab-container-dark {
  color: white;
  background-color: $dark;
  border-radius: 40px;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.storylab-container-gold {
  color: $dark;
  background-color: $gold;
  border-radius: 30px;
  padding: 30px;
}

.storylab-container-cream {
  color: $dark;
  background-color: $cream;
  border-radius: 30px;
  padding: 30px;
  h1 {
    color: $dark;
  }
}
