.storylab-container-dark {
  // color: white;
  background-color: $dark;
  border-radius: 30px;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: $main-font;
}

.storylab-container-gold {
  color: $dark;
  background-color: $gold;
  border-radius: 30px;
  padding: 30px;
  font-family: $main-font;
}

.storylab-container-cream {
  color: $dark;
  background-color: $cream;
  border-radius: 30px;
  padding: 30px;
  font-family: $main-font;
  h1 {
    color: $dark;
  }
}

#storylab-container-spacing {
  margin-top: 30px;
}
