.card{
  padding:10px;
  border-radius: 10px;
  width: 100%;
  border-radius: 12px;
}

.no-gutters {
  --bs-gutter-x: 0;
}

.light-gold-div {
  width: 320px;
  height: 240px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}

.rounded-video {
  position: relative;
  object-fit: cover;
  opacity: 1;
}

.gold-div {
  background: $gold;
  border-radius: 30px;
}

.btn-viewscript {
  text-align: center;
}

.btn-readscript {
  color: $dark;
  background-color: $cream;
  border-radius: 30px;
  width: 180px;
  height: 48px;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px rgb(95, 84, 0);
  transition: 0.4s;
}

.btn-readscript:hover {
  background-color: $dark;
  color: $cream;
  text-shadow: 1px 1px 1px rgb(255, 255, 231);
  border-color: rgb(227, 193, 0);
}

.gold-div:hover {
  background: $gold;
  border-radius: 30px;
  box-shadow: 0 0 15px $cream;
}
