
// script-card-styling

.scripts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

// inside script card
.card{
  padding:10px;
  border-radius: 10px;
}

// view script button styling

.btn-viewscript {
  text-align: center;
}

.btn-readscript {
  justify-content: center;
  align-items: center;
  text-align: center;
  display: inline-block;
  padding: 10px 20px;
  background-color: #efe337;
  border-color: black;
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-readscript:hover {
  background-color: yellow;
  border-color: black;
}


// script-title
// script-category
// script-body
// script-view
