.card{
  padding:10px;
  border-radius: 10px;
  width: 100%;
  border-radius: 12px;
}

.no-gutters {
  --bs-gutter-x: 0;
}

.light-gold-div {
  width: 320px;
  height: 240px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}

.rounded-video {
  position: relative;
  object-fit: cover;
  opacity: 1;
}

.dark-gold-div {
  background: linear-gradient($gold-card-gradient);
  border-radius: 30px;
}

.btn-viewscript {
  text-align: center;
}

.btn-readscript {
  color: $dark;
  background-color: $cream;
  border-radius: 30px;
  width: 150px;
  height: 40px;
  font-size: 1rem;
  text-shadow: 1px 1px 1px rgb(95, 84, 0);
  opacity: 80%;
  transition: background-color 0.3s ease;
}

.btn-readscript:hover {
  background-color: rgb(255, 251, 231);
  border-color: rgb(227, 193, 0);
  font-size: 1.1rem;
}


// script-title
// script-category
// script-body
// script-view
